<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <p><b>Inserir Registro</b></p>
    <hr>
  </ion-row>
  <ion-row>
    <form (ngSubmit)="adicionar()">
      <ion-item>
        <ion-label>Modelo do Carro: </ion-label>
        <ion-input type="text" [(ngModel)]="carro.modelo" name="carroModelo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Cor do Carro: </ion-label>
        <ion-input [(ngModel)]="carro.cor" name="carroCor"></ion-input>
      </ion-item>
      <ion-button type="submit" block>Adicionar a Tabela: {{tabelaNome}}</ion-button>
    </form>
  </ion-row>


  <ion-row>
    <ion-col>
      <h3>Buscar Registro</h3>
    </ion-col>
  </ion-row>
  <ion-row>
    <form (ngSubmit)="buscar(busca)">
      <ion-item>
        <ion-label>Modelo do Carro: </ion-label>
        <ion-input type="text" [(ngModel)]="busca.modelo" name="buscaModelo"></ion-input>
      </ion-item>
      <ion-button type="submit" block>Buscar na Tabela: {{tabelaNome}}</ion-button>
    </form>
    <ion-row *ngIf="encontrado">
      <ion-card>
        <ion-card-header>
          Registro encontrado
        </ion-card-header>
        <ion-card-content>{{encontrado}}</ion-card-content>
      </ion-card>
    </ion-row>
  </ion-row>

  <ion-row>
    <ion-col>
      <h3>Carros salvos no banco</h3>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-list>
        <ion-item *ngFor="let carroDB of carros">
          <ion-input [(ngModel)]="carroDB.modelo" name="carroModeloBD"></ion-input>
          <ion-input [(ngModel)]="carroDB.cor" name="carroCorBD"></ion-input>
          <ion-button (click)="atualizar(carroDB)">ATUALIZAR</ion-button>
          <ion-button (click)="remover(carroDB)">REMOVER</ion-button>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>

</ion-content>